#container {
    border-color: #70ad47;
    border-width: 2px;
    border-style: solid;
    position: center;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.person {
    display: flex;
    height: 35px; 
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#label::after {
    content: "*";
    color: red;
}

.info {
    padding: 5px;
    text-align: center;
    margin-left:10%;
}

#btnDiv {
    height: 35px;
    margin-bottom:5%;
}
#label {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
}

#labelH {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
}

.fillLabel {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
    margin-bottom: 0px;
    block-size: fit-content;
}
#input {
    border: 2px solid #41719C;
    margin-left:10%;
    width:55%;
}
#img {
    border: 2px solid #fdfdfd;
    margin-left:10%;
    width:55%;
}
#inputdate{
    border: 2px solid #41719C;
    margin-left:10%;
    width:55%;
}
#radioBtn {
    margin-left:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    text-align: center;  
    margin-bottom:5%;

}
#error {
    color: red; 
}
#submitId {
    border-color: #41719C;
    border-width: 2px;
    border-style: solid;
    background-color: #70ad47;
}
.imgInfo {
    margin-left: 50px;

}
.imgShow {
    margin-left:10%;
}
#confirm {
    text-align: center;
    margin-top: 60px;
    height: 35px;
    margin-bottom:5%;
}
body {
    display: flex;
    justify-content: center;
}

.all-student {
    margin-top: 50px;
    width: 700px;
    max-width: 80%;
    display: inline-block;
    padding: 30px;
}

.all-student .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.student-count .btn-submit {
    border: 1px solid #41719c;
    border-radius: 6px;
    padding: 7px 20px;
    background-color: #70ad47;
    color: white;
    margin-top: 10px;
}
.student-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.student-list {
    padding: 30px;
}

.student-list .student-table {
    width: 100%;
}

.student-list .student-table tr {
    width: 100%;
    height: 30px;
}

tr .action {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr .action .btn-action {
    text-align: center;
    color: #fff;
    background-color: #70ad47;
    font-size: 12px;
    padding: 8px 12px;
    border: 1px solid #4f81bd;
    border-radius: 2px;
    cursor: pointer;
    margin: 5px

}
